*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(156, 146, 73);
  font-family: sans-serif;
  color: green;
}
.heading_style{
  position: relative;
  top: 240px;
  left: 35px;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 500;
  
  color: black;
  

}

button{
  padding: 10px 30px;
  background-color: #9b59b6;
  /* background-color: yellow; */
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  margin: 20% 50%;
}
